<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="site/css/styles.css" />
  </head>
  <body>
    <h1>{{caption}}</h1>
    <img src="site/images/skimountain.jpg" alt="ski mountain" />
  </body>
</html>